<a href="https://colab.research.google.com/github/IucasDev/IucasDeve/blob/main/Aula_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("/content/drive/MyDrive/cadastro_clientes.csv")

EXERCICIO 3 FUNCOES Objetivo:

Utilize o DataFrame fornecido para agrupar os clientes por Estado, somar os gastos totais de cada grupo, e exibir apenas os grupos cujo
total ultrapasse R$ 5.000,00.

1 **Passo a passo do exercício: ##
2
3 # DICAS: Armazene em variaveis diferente e PRINT NO FINAL EXIBINDO O RESULTADO
4 # Ele deverá trazer todos os estados com soma MAIOR QUE 5000
5
6
7 # 1 Agrupar os "Gasto_Total" dados pela coluna "Estado".
8 # 2 Somar os valores da coluna "Gasto_Total" para cada grupo.
9 # 3 Filtrar os grupos com gasto total maior que 5000.** negrito
10
11

In [3]:
df

,ID_Cliente,Nome,Idade,Sexo,Cidade,Estado,Data_Cadastro,Gasto_Total
0,1,Esther Lima,61,Masculino,da Rocha,PR,2024-08-31,7466.98
1,2,Bryan Araújo,27,Feminino,Alves,PR,2024-11-01,5495.21
2,3,Laís Mendes,28,Masculino,Melo,ES,2025-03-04,4127.34
3,4,Srta. Ana Clara Lima,34,Feminino,Castro,RN,2024-10-19,7245.87
4,5,Esther Pereira,26,Masculino,Sales,PI,2023-07-17,9976.92
5,6,Maria Clara Silveira,58,Feminino,Gonçalves de Duarte,PE,2024-08-23,8274.18
6,7,Lara Moura,41,Feminino,Aragão de Goiás,MG,2024-03-09,6778.55
7,8,Sr. João Felipe Monteiro,52,Masculino,Barros de Mendes,SE,2023-07-07,5342.52
8,9,Eduardo Freitas,53,Masculino,Porto Alegre,CE,2024-03-10,4400.47
9,10,Levi Pires,39,Feminino,Carvalho,RJ,2023-05-09,7180.85
10,11,Mariane Jesus,49,Feminino,Lopes,ES,2023-08-09,9417.53
11,12,Ana Julia Viana,62,Masculino,Cardoso,TO,2023-11-25,4779.47
12,13,Bernardo Duarte,68,Masculino,da Rosa da Serra,PR,2023-08-02,6795.62
13,14,Vitor Hugo da Costa,48,Masculino,Oliveira,SE,2023-05-21,2443.25
14,15,Leandro Castro,28,Masculino,Rocha das Flores,AP,2023-09-22,8760.77
15,16,Alexandre Silva,27,Masculino,Lopes de Gonçalves,RR,2023-09-05,5906.18
16,17,Sarah Cavalcanti,36,Masculino,Rodrigues Alegre,RR,2024-07-24,6831.84
17,18,Eduarda da Costa,58,Masculino,Almeida da Serra,RN,2025-01-22,3425.30
18,19,Dra. Isabel Campos,42,Feminino,Fernandes,MG,2024-03-28,7348.80
19,20,Srta. Bruna Freitas,51,Feminino,Cardoso,RO,2024-02-18,7063.04

In [33]:
# Agrupa os clientes por estado e soma os gastos
gastos_por_estado = df.groupby('Estado')['Gasto_Total'].sum()

# Filtra apenas os estados com gasto total acima de 5000
gastos_acima_5000 = gastos_por_estado[gastos_por_estado > 5000]

# Mostra o resultado
gastos_acima_5000

Estado
AP     8760.77
ES    13544.87
MG    14127.35
PE     8274.18
PI     9976.92
PR    19757.81
RJ     7180.85
RN    10671.17
RO     7063.04
RR    12738.02
SE     7785.77
Name: Gasto_Total, dtype: float64

In [34]:
print(gastos_acima_5000)

Estado
AP     8760.77
ES    13544.87
MG    14127.35
PE     8274.18
PI     9976.92
PR    19757.81
RJ     7180.85
RN    10671.17
RO     7063.04
RR    12738.02
SE     7785.77
Name: Gasto_Total, dtype: float64